/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background: linear-gradient(to right, #c9daf4, #dfc7ed); /* Degradado de fondo */
  /* background: linear-gradient(to right, #b1c0e6, #d7b6f4); */
  height: 100vh;
  margin: 0;
}

.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  position: relative;
}


/* Active link underlining */
.nav-links .active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #5f52a4;
}

/* Hover effect */
.nav-links a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #5f52a4;
}

/* GitHub icon styling */
.github-icon img {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}
#hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 0 5.6rem;
  overflow: hidden;
}

.container-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hero-content {
  flex: 1;
  max-width: 50%;
}

.margin-hero {
  margin-bottom: 3.2rem;
  font-size: 3rem; /* Tamaño de fuente reducido */
}

.hero-title {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: left;
}

.hero-description{
  font-size: 2 rem;
  margin-top: 40px;

}

.hero-cta {
  display: flex;
}

/* Estilos para la imagen */
.hero-image {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Opcional: redondea los bordes */
}

.text-color-main {
  color: #5f52a4;
}

/* Estilo para el cursor */
.cursor {
  border-left: 2px solid black;
  animation: blink 0.7s steps(1) infinite;
  margin-left: 2px;
}

/* Animación de parpadeo */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* ABOUT */

.about-me {
  background-color: #5f52a4;
  padding: 50px;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 70px;
}

/* Centralizar el contenedor principal */
.about-me-container {
  display: flex;
  justify-content: center; /* Centra el contenedor en la sección */
  gap: 20px;
  max-width: 1000px; /* Limita el ancho total */
  margin: 0 auto; /* Centra horizontalmente en la página */
}

/* Estilos para el contenedor del script */
.about-me-script {
  max-width: 300px;
  display: flex;
  justify-content: center;
  margin-right: -100px;
  margin-top: -200px;


}

.about-me-image img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.about-me-content {
  max-width: 800px;
  text-align: justify;
  margin-left: 30px;

}

.about-me-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Boton de about */
.resume-button {
  position: relative;
  padding: 5px 10px;
  font-size: 18px;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid white;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.resume-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #f4f8f6;
  transition: left 0.4s ease-in-out;
  z-index: 1;
}

.resume-button span {
  position: relative;
  z-index: 2;
  color: white;
  transition: color 0.4s ease-in-out;
}

.resume-button:hover span {
  color: #5f52a4;
}

.resume-button:hover::before {
  left: 0;
}


.arrow{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -80px;
}
/* skills */
/* Wrapper para centrar la sección de habilidades */
.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
}

.skills-container {
  max-width: 800px;
  padding: 20px;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea el contenido hacia la derecha */
  margin: auto;
}

/* Título */
.skills-title {
  font-size: 2rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  width: 100%;
}

.skills-title::before {
  content: "#skills";
  font-weight: bold;
  color: #FFFFFF;
  margin-right: 10px;
}

.skills-title::after {
  content: '';
  flex-grow: 1;
  height: 2px;
  background-color: #5f52a4;
  margin-left: 10px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem; /* Espacio entre el círculo de team y las cajas de skills */
}

/* circulo */
@property --memberRotation {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}
* { box-sizing: border-box; margin: 0; padding: 0 }
ul.team{
  width: 40vmin;
  list-style: none;

  aspect-ratio: 1/1;
  border-radius: 50%;
  animation: memberRotation 10s linear infinite;

  > li {
    offset-path: border-box;
    offset-distance: calc(100% / var(--member-count) * var(--member-idx) + (var(--memberRotation) * 100%));
    width: calc(100% / (1 + (1 / sin(180deg / var(--member-count)))));
    position: relative;
    > img {
      position: absolute;
      width: 100%;
      border: 3px solid #5f52a4;
      scale: .8;

    aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
      rotate: calc(-360deg / var(--member-count) * var(--member-idx) - (360deg * var(--memberRotation)))
    }
  }
  &:has(img:hover){
    animation-play-state: paused
  }
}

@keyframes memberRotation {
  to { --memberRotation: 1 }
}


/* Diseño de las cajas de habilidades */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 20px;
  justify-content: end;
}

.skill-box {
  background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco transparente */;
  padding: 15px;
  border: 4px dashed rgba(255, 255, 255, 0.4); /* Borde punteado */;
  border-radius: 10px;
}


.skill-box h3 {
  font-size: 1rem;
  color: #5f52a4;
  margin-bottom: 10px;
  font-weight: bold;
}

.skill-box p {
  color: #5f52a4;
  font-size: 0.9rem;
  line-height: 1.5;
}




/* projects */

.projects-title{
  margin-top: 50px;
  margin-bottom: 70px;
}

.each-project{
  margin-bottom: 50px;
}

.project-image img {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  transition: opacity 0.3s ease; /* Para el cambio de opacidad */
}

.project-image:hover img {
  opacity: 0.8; /* Aclara la imagen */
}

.js-tilt {
  max-width: 900px;
  position: relative; /* Necesario para el efecto de brillo */
  overflow: hidden; /* Evita que el brillo desborde */
  display: flex; /* Añadido para centrar contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  will-change: transform;
  transition: transform 0.2s ease; /* Suaviza el movimiento de inclinación */
  position: relative;
  overflow: hidden; /* Evita que se vea fuera del contenedor */
}

.js-tilt-glare {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  border-radius: inherit;
}

.js-tilt-glare-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  transform: rotate(180deg) translate(-50%, -50%);
  transform-origin: 0% 0%;
  opacity: 0;
  width: 200%; /* Ajusta según sea necesario */
  height: 200%; /* Ajusta según sea necesario */
}

/* boton de proyectos */
.project-links {
  display: flex;
  gap: 1rem;
}

.project-link {
  text-decoration: none;
  position: relative;
  padding: 5px 10px;
  font-size: 18px;
  color: #5f52a4;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #5f52a4;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.project-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #5f52a4;
  transition: left 0.4s ease-in-out;
  z-index: 1; /* Debe estar debajo del texto */
}

.project-link span {
  position: relative;
  z-index: 2; /* Aseguramos que el texto esté encima */
  color: #5f52a4; /* Color del texto normal */
  transition: color 0.4s ease-in-out;
}

.project-link:hover span {
  color: white; /* Cambia el color del texto a azul al hacer hover */
}

.project-link:hover::before {
  left: 0; /* Mueve el fondo al centro */
}



.link-code {
  text-decoration: none;
  position: relative;
  padding: 5px 10px;
  font-size: 18px;
  color: white;
  background-color: #5f52a4;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.link-code::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px solid #5f52a4;
  transition: left 0.4s ease-in-out;
  z-index: 1; /* Debe estar debajo del texto */
}

.link-code span {
  position: relative;
  z-index: 2; /* Aseguramos que el texto esté encima */
  color: white; /* Color del texto normal */
  transition: color 0.4s ease-in-out;
}

.link-code:hover span {
  color: #5f52a4; /* Cambia el color del texto a azul al hacer hover */
}

.link-code:hover::before {
  left: 0; /* Mueve el fondo al centro */
}

/* CONTACT */
#contact-me {
  display: flex;
  justify-content: center; /* Centramos el contenedor dentro de su sección */
  margin-top: 20px; /* Ajusta según el espaciado necesario */
}


.contact-section {
  display: flex;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 40px;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 50px;
}

.contact-info {
  flex: 1;
  padding: 20px;
}

/* Estilos para el título */
.contact-info h2 {
  color: #b985d6;
  font-size: 28px;
  margin-bottom: 15px;
}

/* Para organizar los elementos de contacto en dos columnas */
.contact-details {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; /* Espacio entre los elementos */
}

.contact-info p {
  color: #555555;
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 45%; /* Ancho de cada columna */
}

.contact-info p i {
  margin-right: 10px;
  color: #b985d6;
}

/* Botones */
.buttons {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.resume-btn {
  background: #b985d6;
  color: white;
}

.resume-btn:hover {
  background: #a06cbe;
}

.portfolio-btn {
  background: #f7cad0;
  color: white;
}

.portfolio-btn:hover {
  background: #f5b0b8;
}

/* QR y botón de feedback */
.qr-linkedin {
  margin-top: 20px;
  text-align: center;
}

.qr-linkedin img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

/* Imagen de perfil */
.profile-pic {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}


/* FOOTER */

.footer-container{
  background-color: rgb(36, 36, 36);
  color: white;
}

.back-to-top{
  color: white;
}
.back-to-top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Ajusta el margen según prefieras */
}

/* Añadir separación entre los iconos de la lista */
.icon-list li {
  margin: 0 15px; /* Ajusta el valor para más o menos espacio */
}
